body {
    background-image: url("../images/creative-assortment-with-different-books.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login-area {
    background-image: linear-gradient(to top right, #150e08, #825e40);
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}