.headline-book a {
    text-decoration: none;
    color: black;
}

.information-book a {
    text-decoration: none;
    color: black;
}

.catalogue-book .card .card-body {
    height: 125px;
}

.catalogue-img {
    height: 200px;
    width: fit-content;
    object-fit: cover;
}

.catalogue-book p {
    line-height: 1.25;
}

.catalogue-img-modal {
    height: 200px;
    max-width: 200px;
    object-fit: cover;
}

.pengembalian-view {
    height: 150px;
}

.pengembalian-view .catalogue-img {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

@media(max-width:800px) {
    .catalogue-book .card .card-body {
        height: 150px;
    }
}