.headline-book a {
    text-decoration: none;
    color: black;
}

.information-book a {
    text-decoration: none;
    color: black;
}

.catalogue-book .card .card-body {
    height: 125px;
}

.catalogue-img {
    height: 200px;
    width: fit-content;
    object-fit: cover;
}

.catalogue-book p {
    line-height: 1.25;
}

.catalogue-img-modal {
    height: 250px;
    width: 200px;
    object-fit: cover;
}

.pengembalian-view {
    height: 150px;
}

.pengembalian-view .catalogue-img {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.card-header,
.modal-header {
    background-image: linear-gradient(to top right, #150e08, #825e40);
}

.card-header p,
.card-header a,
.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.modal-header p,
.modal-header a,
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5 {
    color: white;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a:hover {
    opacity: 0.5;
    color: black;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

@media(max-width:800px) {
    .catalogue-book .card .card-body {
        height: 150px;
    }
}